@import "../../global-variables.css";

.btnContainer {
  background-color: var(--primary-color);
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  color: var(--card-bg);
  font-size: 18px;
  cursor: pointer;
  transition: 0.1s ease-in;
}
.btnContainer:hover {
  background-color: var(--primary-color_hover);
}

.btnSecondary {
  background-color: var(--secondary-color);
}
.btnSecondary:hover {
  background-color: var(--secondary-color_hover);
}
