.boton {
    border: none;
    color: white;
    background-color: blue;
    border-radius: 12px;
    font-size: 16px;
    padding: 12px 28px;
    cursor: pointer;
}

.boton:hover {
    background-color: rgb(23, 155, 23);
}