@import "../../global-variables.css";

.container {
  display: flex;
  background-color: var(--bg-light);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
}
.userFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
