.guestCardsContainer {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .guestCardsContainer {
    justify-content: center;
  }
  .guestCardsContainer > .card_container {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}
