@import "../../global-variables.css";

.cardContainer {
  flex: 1 1 250px;
  background-color: var(--card-bg);
  border-radius: 5px;
  padding: 30px;
  box-shadow: var(--card-box-shadow);
  max-width: 300px;
  margin: 10px;
}

.formTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
}

.loginTitle {
  color: var(--primary-color);
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputFormat {
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 20px;
  min-width: 275px;
  border: solid;
  border-color: var(--primary-color);
  border-width: 1px;
  transition: 0.2s ease-in;
  color: var(--text-secondary);
}

.inputFormat:focus {
  border-color: var(--primary-color);
  border-width: 2px;
  outline: none;
  transform: scale(1.04);
}

.submitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.submitInput {
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 20px;
  min-width: 285px;
  background-color: var(--primary-color);
  color: var(--card-bg);
  border: none;
}
